$mainRed: #ec3c14;
$purple: #c5c0dd;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
    background-color: $purple;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.1rem;
}

h1, h2, h3 {
    text-transform: uppercase;
}

button{
    color: $mainRed;
    text-transform: uppercase;
    &:hover {
        background-color: $purple;
        cursor: pointer;
    }
}

.startPage #infoCont {
    min-height: 50rem;
    background-image: url(/img/map.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    width: 100vw;
    height: 100vh;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $mainRed;


    header {
        color: $mainRed;
        text-transform: uppercase;

        h1 {
            font-size: 4rem;
            line-height: 5rem;
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;

            #stader {
                border-bottom: 0.4rem solid $mainRed;
            }
        }
        nav {
            font-size: 2.3rem;
            font-weight: 800;
            list-style-type: none;
            color: $mainRed;
            text-transform: uppercase;

            ul {

                list-style-type: none;
                text-decoration: none;
                margin: 1rem 0;

                &:active {
                    color: rgb(160, 75, 75);
                }

                &:hover {
                    color: rgb(240, 123, 123);
                    cursor: pointer;
                }

                ul {
                    font-size: 1.5rem;
                    margin-left: 3rem;

                    li {
                        &:hover {
                            color: rgb(199, 172, 172);
                            cursor: pointer;
                        }
                    }
                }

            }
        }
    }

    
    section#infoCont {
        width: 60%;

        #infoWrapperDiv {
            display: flex;
            width: 100%;
            position: relative;

            #imgDiv {
                width: 45%;
                
                img{
                    width: 100%;
                    max-height: 70vh;
                    border: 7px solid $mainRed;
                }
            }

            #weatherDiv {
                position: absolute;
                left: 25%;
                top: -5rem;
                align-self: flex-start;
                border: 4px solid $mainRed;
                box-shadow: $mainRed 4px 4px;
                padding: 1.5rem;

                h2 {
                    text-align: center;
                    color: $mainRed;
                    font-size: 2rem;
                }
            }

            #infoDiv {
                width: 50%;
                color: $mainRed;
                padding: 2rem;

                h1 {
                    text-align: left;
                    color: $mainRed;
                    font-size: 4rem;
                }

                h2 {
                    text-align: left;
                    color: $mainRed;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 1.3rem;
                    margin-bottom: 2.5rem;
                }

                #addCity{
                    font-size: 2rem;
                    border: 3px solid $mainRed;
                    padding: 0.4rem ;
                    font-size: 1.3rem;
                    text-transform: uppercase;
                    font-weight: 800;
                    box-shadow: 3px 3px 0 $mainRed;
                }
            }
        }
    }


    aside {

        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        color: $mainRed;
        font-weight: 800;

        h1 {
            font-size: 3rem;
        }

        .removeCityButton{
            border: 1px solid $mainRed;
            width: 1.3rem;
            height: 1.3rem;
            margin-left: 5px;
            box-shadow: 2px 2px 0 $mainRed;
        }

        .removeAllButton{
            border: 1px solid $mainRed;
            font-size: 0.9rem;
            text-transform: uppercase;
            font-weight: 800;
            padding: 0.4rem ;
            margin: 20px 0 5px;
            box-shadow: 2px 2px 0 $mainRed;
        }
    }
}